<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@drawable/love"
        android:label="${NAME}"
        android:theme="@style/Theme.Love2Droid">

        <activity
            android:name="top.wsdx233.love2droid.EditorActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Love2Droid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="top.wsdx233.love2droid.ProjectManagerActivity"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Love2Droid" />

        <activity
            android:name="top.wsdx233.love2droid.runtime.LoveGameActivity"
            android:exported="false"
            android:launchMode="standard"
            android:process=":game"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            tools:replace="android:exported,android:launchMode,android:theme">
            <intent-filter tools:node="removeAll" />
        </activity>

        <activity
            android:name="org.love2d.android.IntentReceiverActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:relinquishTaskIdentity="true"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
